mixin product-item(data)
  .product-item
    .product-item__image
      img(src="%=static=%images/assets/product-item/img.png" alt="")
      .product-item__name Мармелад  
        span Ягодное ассорти
    .product-item__content
      .product-item__title «Bello Marmello» 
      .product-item__text Мармелад - это сладкий кулинарный продукт, который варят из фруктов с добавлением сахара, пектина и различных вкусовых добавок. крахмала и прочих натуральных ингредиентов.

      .product-item-consist.js-hide
        .product-item-consist__text.js-hide-element Эмульгаторы: лецитин Е322, Е476; ароматизаторы:ванильный, банан, зеленое яблоко – идентичные натуральным; соль поваренная, инвертаза Е1103, красители: Е102, Е102/133; усилитель вкуса и запаха – ванилин.

        .product-item-consist__link.js-hide-trigger Состав