mixin product-full-item(data)
  .product-full-item
    .product-full-item-top
      .product-full-item-composition
        .product-full-item-composition__item._composition-1
          span ПЕКТИН
        .product-full-item-composition__item._composition-2
          span КУСОЧКИ ФРУКТОВ
        .product-full-item-composition__item._composition-3
          span БЕЗ ГЛЮТЕНА
        .product-full-item-composition__item._composition-4
          span БЕЗ ГМО
        .product-full-item-composition__item._composition-5 
          span НАТУРАЛЬНЫЕ ИНГРЕДИЕНТЫ
        .product-full-item-composition__item._composition-6
          span ПОСТЫЙ ПРОДУКТ
        .product-full-item-composition__item._composition-7 
          span КАКАО ШОКОЛАД
        .product-full-item-composition__item._composition-8
          span СОК
      .product-full-item-composition-line

    .product-full-item-bottom
      .product-full-item-candy
        img(src="%=static=%images/assets/product-full-item/candy.png" alt="")
      .product-full-item-consist
        .product-full-item-consist__item Белки, г.
          span 9,7
        .product-full-item-consist__item Жиры, г.
          span 32,4
        .product-full-item-consist__item Углеводы, г.
          span 51,8
        .product-full-item-consist__item Энергия, ккал.
          span 531