mixin documentation-info(data)
  .documentation-info
    .documentation-info__wrapper
      .title.documentation-info__title
        .title__cursive Деловая
        .title__normal 
          span Документация

      .documentation-info__text
        p Находится в д. Кривцово Солнечногорского района Московской области.
          br 
          | На фабрике используются самые прогрессивные технологии, современное оборудование, отстроен новый цех с соблюдением всех требований охраны труда. Фабрика начинает работать с мая 2016 года. 
          br
          | Планируются линии по выпуску мармелада,  вафельных изделий и шоколадных конфет.
        strong «Если Вы хотите участвовать в создании нового бренда, реализовать свои возможности, работать в дружном, сплоченном коллективе ― мы ждем Вас!»

      .documentation-list
        .documentation-list__column
          .documentation-list__title
            span Сотрудникам

          a(href="#" title="").documentation-list-item._txt
            .documentation-list-item__type TXT, 341.88 КБ
            .documentation-list-item__name Памятка сотрудникам

          a(href="#" title="").documentation-list-item._ppt
            .documentation-list-item__type PPT, 341.88 МБ
            .documentation-list-item__name График отпусков


        .documentation-list__column
          .documentation-list__title
            span Партнерам

          a(href="#" title="").documentation-list-item._pdf
            .documentation-list-item__type PDF, 541.88 МБ
            .documentation-list-item__name Презентация компании

          a(href="#" title="").documentation-list-item._xls
            .documentation-list-item__type XLS, 541.88 МБ
            .documentation-list-item__name Годовой отчёт

          a(href="#" title="").documentation-list-item._doc
            .documentation-list-item__type DOC, 541.88 КБ
            .documentation-list-item__name Предложение инвесторам

        .documentation-list__column
          .documentation-list__title
            span Прочее

          a(href="#" title="").documentation-list-item._ppt
            .documentation-list-item__type PPT, 341.88 МБ
            .documentation-list-item__name Презентация компании

          a(href="#" title="").documentation-list-item._pdf
            .documentation-list-item__type PDF, 541.88 МБ
            .documentation-list-item__name Годовой отчёт

          a(href="#" title="").documentation-list-item._doc
            .documentation-list-item__type DOC, 541.88 КБ
            .documentation-list-item__name Предложение инвесторам

        .documentation-list__column
          .documentation-list__title
            span Прочее

          a(href="#" title="").documentation-list-item._ppt
            .documentation-list-item__type PPT, 341.88 МБ
            .documentation-list-item__name Презентация компании

          a(href="#" title="").documentation-list-item._pdf
            .documentation-list-item__type PDF, 541.88 МБ
            .documentation-list-item__name Годовой отчёт

          a(href="#" title="").documentation-list-item._doc
            .documentation-list-item__type DOC, 541.88 КБ
            .documentation-list-item__name Предложение инвесторам