mixin footer(data)
  footer.footer
    .footer__top
      .footer-menu
        a(href="/" title="").footer-menu__item Главная
        a(href="/catalog.html" title="").footer-menu__item Каталог
        a(href="/about.html" title="").footer-menu__item О компании
        a(href="/offer-partners.html" title="").footer-menu__item Партнёрам
        a(href="/documentation.html" title="").footer-menu__item Документация
        a(href="/news.html" title="").footer-menu__item Новости
      .footer-contacts
        .footer-contacts__left
          .footer-contacts__item +7 (495) 479-99-99
          a(href="#" title="").footer-contacts__item info@sirius-candy.ru
        .footer-contacts__right
          .footer-contacts__item ООО «Сириус», 141554, Московская обл., <br>Солнечногорский р-н, д. Кривцово, д. 2

    .footer__bottom
      .footer__copyright ООО «Сириус» © 2016. Все права защищены.
      a(href="#" title="").footer__create Сделано в ГринМарс