mixin partners-map(data)
  .partners-map
    .partners-map__wrapper
      .title.partners-map__title
        .title__cursive Наши
        .title__normal 
          span Партнеры

    .partners-map-layout
      #partners-map

      .partners-map-layer._first
        .partners-map-layer__inside
          .partners-map-layer__close
          .partners-map-layer__title г. Краснодар. <br> Сеть супермаркетов «Пятерочка»
          .partners-map-layer__text Мишень, на первый взгляд, воспроизводима в лабораторных условиях. Вселенная, в согласии с традиционными представлениями, когерентно представляет собой циркулирующий гидродинамический удар.
          .partners-map-layer__img
            img(src="%=static=%images/assets/partners-map/magnit.png" alt="")

      .partners-map-layer._second.show
        .partners-map-layer__inside
          .partners-map-layer__close
          .partners-map-layer__title г. Краснодар. <br> Сеть супермаркетов «МАГНИТ»
          .partners-map-layer__text Мишень, на первый взгляд, воспроизводима в лабораторных условиях. Вселенная, в согласии с традиционными представлениями, когерентно представляет собой циркулирующий гидродинамический удар.
          .partners-map-layer__img
            img(src="%=static=%images/assets/partners-map/magnit.png" alt="")