.partners-map {
  &__wrapper {
    width: 1280px;
    margin: auto;
  }
}

.partners-map-layout {
  min-width: 1280px;
  max-width: 100%;
  margin: 35px auto 0;

  @extend .contacts-map;
}

#partners-map {
  width: 100%;
  height: 550px;
}

.partners-map-layer {
  position: absolute;
  top: 0;

  visibility: hidden;

  width: 100%;
  max-width: 90%;

  opacity: 0;

  @include horizontal-center;
  @include transition;
  &.show {
    visibility: visible;

    opacity: 1;
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;

    opacity: .1;

    @include transition;
    @include bg-svg($cross);
    &:hover {
      opacity: .4;
    }
  }
  &__inside {
    position: absolute;
    top: 75px;
    right: 50px;

    box-sizing: border-box;
    width: 526px;
    height: 370px;
    padding: 22px 50px;

    color: $white;
    border-radius: 22px;
    background-color: rgba(#4d4d4d, .9);
  }
  &__title {
    font-family: $SignPainter-HouseScript;
    font-size: rem-calc(30);
    line-height: rem-calc(28);
  }
  &__text {
    margin-top: 20px;
    margin-bottom: 10px;

    font-family: $OpenSans;
    font-size: rem-calc(16);
    line-height: rem-calc(19);
  }
}
