mixin offer-partners-info(data)
  .offer-partners-info
    .title.offer-partners-info__title
      .title__cursive Деловая
      .title__normal 
        span Документация

    .offer-partners-info__text
      p Находится в д. Кривцово Солнечногорского района Московской области.
        br 
        | На фабрике используются самые прогрессивные технологии, современное оборудование, отстроен новый цех с соблюдением всех требований охраны труда. Фабрика начинает работать с мая 2016 года. 
        br
        | Планируются линии по выпуску мармелада,  вафельных изделий и шоколадных конфет.
      strong «Если Вы хотите участвовать в создании нового бренда, реализовать свои возможности, работать в дружном, сплоченном коллективе ― мы ждем Вас!»

      .offer-partners-info__documentation Скачать документы  вы можете в разделе 
        a(href="/documentation.html" title="") Документация