.about-company {
  min-width: 1280px;
  max-width: 100%;
  margin: auto;
  padding-top: 40px;

  text-align: center;

  color: #4d4d4d;

  font-size: rem-calc(14);
  line-height: rem-calc(18);
  &__wrapper {
    width: 945px;
    margin: auto;
  }
  &__title {
    margin-bottom: 35px;
  }
  strong {
    margin-bottom: 0;

    text-transform: uppercase;

    font-family: $OpenSans-Bold;
  }
  p {
    margin-top: 5px;
  }
}
