mixin about-company(data)
  .about-company
    .about-company__wrapper
      .title.about-company__title
        .title__cursive Наша
        .title__normal 
          span Компания

      strong ООО «СИРИУС» — СОВРЕМЕННАЯ ФАБРИКА ПО ПРОИЗВОДСТВУ КОНДИТЕРСКИХ ИЗДЕЛИЙ.
      p Находится в д. Кривцово Солнечногорского района Московской области. На фабрике используются самые прогрессивные технологии, современное оборудование, отстроен новый цех с соблюдением всех требований охраны труда. Фабрика начинает работать с мая 2016 года. Планируются линии по выпуску мармелада,  вафельных изделий и шоколадных конфет. Если Вы хотите участвовать в создании нового бренда, реализовать свои возможности, работать в дружном, сплоченном коллективе ― мы ждем Вас!