mixin news-bottom(data)
  .news-bottom
    .news-bottom__wrapper
      a(href="/news-full.html" title="").news-bottom-item
        .news-bottom-item__image
          img(src="%=static=%images/assets/news-bottom/preview.jpg" alt="")
        .news-bottom-item__date 1 авг 2016
        .news-bottom-item__title ОТКРЫТИЕ НОВОГО БЛОКА КОМПАНИИ «СИРИУС»
        .news-bottom-item__text Гамма-квант, на первый взгляд, зеркально искажает квантовый газ...

      a(href="/news-full.html" title="").news-bottom-item
        .news-bottom-item__image
          img(src="%=static=%images/assets/news-bottom/preview.jpg" alt="")
        .news-bottom-item__date 1 авг 2016
        .news-bottom-item__title ОТКРЫТИЕ НОВОГО БЛОКА КОМПАНИИ «СИРИУС»
        .news-bottom-item__text Гамма-квант, на первый взгляд, зеркально искажает квантовый газ...

      a(href="/news-full.html" title="").news-bottom-item
        .news-bottom-item__image
          img(src="%=static=%images/assets/news-bottom/preview.jpg" alt="")
        .news-bottom-item__date 1 авг 2016
        .news-bottom-item__title ОТКРЫТИЕ НОВОГО БЛОКА КОМПАНИИ «СИРИУС»
        .news-bottom-item__text Гамма-квант, на первый взгляд, зеркально искажает квантовый газ...
      
      a(href="/news-full.html" title="").news-bottom-item
        .news-bottom-item__image
          img(src="%=static=%images/assets/news-bottom/preview.jpg" alt="")
        .news-bottom-item__date 1 авг 2016
        .news-bottom-item__title ОТКРЫТИЕ НОВОГО БЛОКА КОМПАНИИ «СИРИУС»
        .news-bottom-item__text Гамма-квант, на первый взгляд, зеркально искажает квантовый газ...

    a(href="#" title="").show-more УЗНАТЬ БОЛЬШЕ