mixin product-list(data)
  .product-list
    .product-list__wrapper
      .product-list-slider
        .product-list-slider__item
          +product-item
        .product-list-slider__item
          +product-item
        .product-list-slider__item
          +product-item
      .product-list-slider-controls
        .product-list-slider-controls__item._prev ФРУКТОВОЕ<br>АССОРТИ
        .product-list-slider-controls__item._next ЭКЗОТИЧЕСКИЕ<br>ФРУКТЫ