mixin certificates(data)
  .certificates
    .title.certificates__title
      .title__cursive Наши
      .title__normal 
        span Достижения
    .certificates-slider
      .certificates-slider__slide
        .certificates-item
          .certificates-item__image
            img(src="%=static=%images/assets/certificates/certificate-1.png" alt="")
          .certificates-item__name Название сертификата
            span Дата

      .certificates-slider__slide
        .certificates-item
          .certificates-item__image
            img(src="%=static=%images/assets/certificates/certificate-2.png" alt="")
          .certificates-item__name Название сертификата
            span Дата

      .certificates-slider__slide
        .certificates-item
          .certificates-item__image
            img(src="%=static=%images/assets/certificates/certificate-3.png" alt="")
          .certificates-item__name Название сертификата
            span Дата

      .certificates-slider__slide
        .certificates-item
          .certificates-item__image
            img(src="%=static=%images/assets/certificates/certificate-1.png" alt="")
          .certificates-item__name Название сертификата
            span Дата

      .certificates-slider__slide
        .certificates-item
          .certificates-item__image
            img(src="%=static=%images/assets/certificates/certificate-2.png" alt="")
          .certificates-item__name Название сертификата
            span Дата

      .certificates-slider__slide
        .certificates-item
          .certificates-item__image
            img(src="%=static=%images/assets/certificates/certificate-3.png" alt="")
          .certificates-item__name Название сертификата
            span Дата

      .certificates-slider__slide
        .certificates-item
          .certificates-item__image
            img(src="%=static=%images/assets/certificates/certificate-4.png" alt="")
          .certificates-item__name Название сертификата
            span Дата

    .certificates-slider-controls
      .certificates-slider-controls__item._prev
      .certificates-slider-controls__item._next