mixin cosmos(data)
  .cosmos
    .cosmos-ellipse
      .cosmos-ellipse-circle(data-action="rotate" data-rotate="-25deg*" data-width="1120" data-height="520" data-time="60" data-start="0" data-translate="-50px, 20px")
        .cosmos-ellipse-planet._romambello
          .cosmos-ellipse-planet-popup
            .cosmos-ellipse-planet-popup__image
              img(src="%=static=%images/assets/cosmos/pack.png" alt="")
            .cosmos-ellipse-planet-popup__content
              .cosmos-ellipse-planet-popup__text Натуральные мармеладные конфеты 
              a(href="#" title="").cosmos-ellipse-planet-popup__link Узнать больше
      
      .cosmos-ellipse-circle(data-action="rotate" data-rotate="-25deg*" data-width="1120" data-height="520" data-time="60" data-start="300" data-translate="-100px, 20px")
        .cosmos-ellipse-planet._bellomarmello
          .cosmos-ellipse-planet-popup
            .cosmos-ellipse-planet-popup__image
              img(src="%=static=%images/assets/cosmos/pack.png" alt="")
            .cosmos-ellipse-planet-popup__content
              .cosmos-ellipse-planet-popup__text Натуральные мармеладные конфеты 
              a(href="#" title="").cosmos-ellipse-planet-popup__link Узнать больше
      .cosmos-ellipse-circle(data-action="rotate" data-rotate="-25deg*" data-width="950" data-height="380" data-time="60" data-start="500" data-translate="20px, 50px")
        .cosmos-ellipse-planet._gustohrusto
          .cosmos-ellipse-planet-popup
            .cosmos-ellipse-planet-popup__image
              img(src="%=static=%images/assets/cosmos/pack.png" alt="")
            .cosmos-ellipse-planet-popup__content
              .cosmos-ellipse-planet-popup__text Натуральные мармеладные конфеты 
              a(href="#" title="").cosmos-ellipse-planet-popup__link Узнать больше
      .cosmos-ellipse-circle(data-action="rotate" data-rotate="-25deg*" data-width="580" data-height="200" data-time="60" data-start="700" data-translate="200px, 90px")
        .cosmos-ellipse-planet._tortolatte
          .cosmos-ellipse-planet-popup
            .cosmos-ellipse-planet-popup__image
              img(src="%=static=%images/assets/cosmos/pack.png" alt="")
            .cosmos-ellipse-planet-popup__content
              .cosmos-ellipse-planet-popup__text Натуральные мармеладные конфеты 
              a(href="#" title="").cosmos-ellipse-planet-popup__link Узнать больше