mixin contacts-list(data)
  .contacts-list
    .contacts-list__wrapper
      .title.contacts-list__title
        .title__cursive Наши
        .title__normal
          span Контакты

      .contacts-list__item._phone +7 (495) 479-99-99
      .contacts-list__item._email info@sirius-candy.ru
      .contacts-list__item._address ООО «Сириус», 141554, Московская обл., Солнечногорский р-н, д. Кривцово, д. 2 