mixin company-management(data)
  .company-management
    .title.company-management__title
      .title__cursive Руководство
      .title__normal 
        span Компании

    .company-management-item._right
      .company-management-item__image
        img(src="%=static=%images/assets/company-management/man.jpg" alt="")
      .company-management-item-inside
        .company-management-item__content
          .company-management-item__name ИМЯ ФАМИЛИЯ
            span Должность
          .company-management-item__text Многочисленные расчеты предсказывают, а эксперименты подтверждают, что туманность облучает лептон. Течение среды неупруго. Частица, несмотря на некоторую вероятность коллапса, тормозит тангенциальный магнит при любом их взаимном расположении.
      
    .company-management-item._left
      .company-management-item__image
        img(src="%=static=%images/assets/company-management/woman.jpg" alt="")
      .company-management-item-inside
        .company-management-item__content
          .company-management-item__name ИМЯ ФАМИЛИЯ
            span Должность
          .company-management-item__text Многочисленные расчеты предсказывают, а эксперименты подтверждают, что туманность облучает лептон. Течение среды неупруго. Частица, несмотря на некоторую вероятность коллапса, тормозит тангенциальный магнит при любом их взаимном расположении.